@import '../../_colors.scss';
.project-box {
  $border-width: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: $black;
  border-radius: 10px;

  &:after {
    content: '';
    position: absolute;
    top: calc(-1 * $border-width);
    left: calc(-1 * $border-width);
    z-index: -1;
    width: calc(100% + $border-width * 2);
    height: calc(100% + $border-width * 2);
    background: linear-gradient(60deg,
    #0051ff,
    #0051ff,
    #0051ff,
    #0084ff,
    #0084ff,
    #0084ff,
    #0051ff,
    #0051ff,
    #0051ff
      );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * $border-width);
    filter: blur(10px);
    animation: moveGradient 4s alternate infinite;
  }

  .project {
    position: relative;
    background: $black;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5rem 0;

    .screenshot {
      object-fit: cover;
      width: 100%;
      max-width: 20rem;
      height: 12.5rem;
    }

    .project-details {
      max-width: 20rem;
      text-align: center;
    }
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
