@import '../../_colors.scss';
.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid $blue;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px $blue, 0 0 10px $blue;
  
  .project {
    overflow: hidden;
    position: relative;
  
    .screenshot {
      object-fit: cover;
      width: 100%;
      max-width: 20rem;
      height: 12.5rem;
    }

    .project-details {
      max-width: 20rem;
      text-align: center;
    }


  }
}
