@import '../../_colors.scss';

#navigation {
  background: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  position: fixed;
  width: 100%;
  z-index: 3;
  border-bottom: 2px solid $silver;
  box-shadow: inset;

  #logo {
    padding: 1rem 1rem 0.5rem;
    width: fit-content;
  }

  #menu-logo {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem 1rem 0.5rem;
    color: $white;
    z-index: 1;
    width: fit-content;
    z-index: 4;
  }

  #nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: fit-content;
    gap: 2px;
    margin-right: 0.1rem;
    img {
      width: 4rem;
    }
  }

  #hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.2rem 1rem 1rem;
    font-size: 1.5rem;
    color: $white;
  }
}

#navigation-menu {
  background: $black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  #close-menu {
    position: fixed;
    right: 0;
    top: 0;
    padding: 1.2rem 1rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 5rem;

    .navlink {
      .nav-label {
        font-weight: bold;
        color: $white;
        text-decoration: none;
      }

      .nav-icon {
        display: none;
      }

      &.active {
        color: $blue;
      }
    }
  }

  #social-links {
    margin: 7rem auto 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
      color: $white;
      font-size: 1.5rem;
      box-shadow: 0 0 20px $blue inset;
      padding: 0.5rem;
      border-radius: 50%;
      border: 1px solid transparent;

      .nav-soc-label {
        display: none;
      }
    }
  }
}

.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  //768px
  #hamburger-menu,
  #close-menu {
    display: none;
  }

  #navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 6rem;
    border-bottom: none;
    border-right: 2px solid $silver;
  }

  #navigation-menu {
    position: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    #nav-links {
      gap: 1.5rem;
      margin-top: 3rem;

      .navlink {
        display: flex;
        justify-content: center;
        height: 2rem;
        width: 100%;

        .nav-label {
          font-weight: bold;
          color: $white;
          text-decoration: none;
          font-size: 1.15rem;
          display: none;
        }

        .nav-icon {
          display: block;
        }

        &:hover {
          .nav-label {
            display: block;
            color: $blue;
          }
          .nav-icon {
            display: none;
          }
        }

        &.active {
          color: $blue;
        }
      }
    }

    #social-links {
      margin: 0;
      flex-direction: column;
      gap: 0.75rem;
      align-items: center;
      padding-bottom: 1rem;
      width: 100%;

      .nav-soc-link-container {
        display: flex;
        justify-content: center;
        height: 2.225rem;
        width: 100%;
        a {
          color: $white;
          font-size: 0.85rem;
          box-shadow: 0 0 10px $blue inset;
        }

        &:hover {
          a {
            font-weight: bold;
            box-shadow: 0 0 0 transparent inset;

            .nav-soc-label {
              display: block;
              color: $white;
              border: none;
            }
            .nav-soc-icon {
              display: none;
            }
          }
        }
      }
    }
  }
}
