
      .skill{
        // text-align: center;
        h3{
          color: $blue;
        }

        ul{
          li{
            list-style: none;

            &:before{
              content: "\2023 \0020";
              font-size: 1.2rem;
            }
          }
        }
      }
        bottom: -4.5rem; //originally 3.5
      margin-top: 9rem; //originally 5
