@import '../../_colors.scss';

#skills {
  min-height: 100vh;
  max-width: 40rem;
  margin: 0 auto 4rem;
  padding: 0 1rem;

  #header {
    margin-bottom: 1rem;

    h1 {
      color: $blue;
      font-size: 3rem;
      text-shadow: 0px 0px 20px $blue;
    }
  }

  #skills-content {
    #skills-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      font-size: 1.02rem;

      .skill{
        // text-align: center;
        h3{
          color: $blue;
        }

        ul{
          li{
            list-style: none;

            &:before{
              content: "\2023 \0020";
              font-size: 1.2rem;
            }
          }
        }
      }

      #link {
        position: absolute;
        bottom: -4.5rem; //originally 3.5
        right: 0;
        text-decoration: none;
        text-transform: capitalize;
        font-family: 'Proxima-Nova-Bold', sans-serif;
        letter-spacing: 0.05rem;
        border: 2px solid $blue;
        border-radius: 5px;
        padding: 0.5rem;
        background: $black;
        box-shadow: 0 0 20px $blue, 0 0 30px $blue;
        -webkit-box-reflect: below 7px linear-gradient(transparent, #0005);
        animation: pulse 5s ease-in-out infinite;
      }

      @keyframes pulse {
        0% {
          box-shadow: 0 0 10px $blue, 0 0 20px $blue;
        }
        25% {
          box-shadow: 0 0 15px $blue, 0 0 25px $blue;
        }
        50% {
          box-shadow: 0 0 20px $blue, 0 0 30px $blue;
        }
        75% {
          box-shadow: 0 0 15px $blue, 0 0 25px $blue;
        }
        100% {
          box-shadow: 0 0 10px $blue, 0 0 20px $blue;
        }
      }
    }

    #cube-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 9rem; //originally 5
      padding-top: 2rem; // increase by 2rem for larger screens
      width: 100%;
      // height: 100%; // increase by 5-10 rem for larger screens
      position: relative;
    }
  }
}

@media screen and (min-width: 768px) {
  #skills {
    padding: 2rem 1.5rem 0;
  }
}

@media screen and (min-width: 860px) {
  #skills {
    max-width: 80rem;
    margin-bottom: 10rem;
    #skills-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 3rem;
      #skills-list {
        max-width: 50%;
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: 1.2rem;
        #link {
          right: auto;
          left: 0;
          left: -1rem;
          bottom: -9rem;
        }
      }

      #cube-section {
        margin-top: 0;
        padding-top: 0;
        height: 4rem;
      }
    }
  }

  @media screen and (min-width: 900px) {
    #skills {
      max-width: 200rem;
    }
  }
}
