$black: #000000;
$blue: #0051ff;
$white: #ebebeb;
$hover: #808bf0;
$good: #02da02;
$bad:#ff0000;
$popupBG: #002c8ae1;

// *************************
$off-black: hsl(0, 0%, 8%);
$off-white: #e0e0e0;
$off-white2: #ebebeb;
$silver: #c0c0c0;
$tint: rgba(51, 51, 77, 0.9);
$gradient: linear-gradient(180deg, #3778c2 -1%, #316dae 50%, #2d619d 100%);
$secondary-color: #54b523;
$text-dark: #434b54;
$text-light: #545b66;
$text-lighter: #86888d;
$text-lightest: #989ca2;
