$primary-color: #3778c2;
$gradient: linear-gradient(180deg, #3778c2 -1%, #316dae 50%, #2d619d 100%);
$secondary-color: #54b523;
$text: #fff;
$text-dark: #434b54;
$text-light: #545b66;
$text-lighter: #86888d;
$text-lightest: #989ca2;
