@import '../../_colors.scss';

#portfolio {
  #projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 500px) {
  #portfolio {
    #projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  #portfolio {
    #projects {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
